<div class="container">
  <div class="row">
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/CHAS.jpg" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/City-Guilds.png" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/ECA.png" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/FairTrades.gif" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/HomePro.png" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid py-2" src="../images/Invicta.jpg" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/IP.jpg" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/NICEIC.jpg" />
       </div>
    </div>
    <div class="col align-self-center">
       <div class="card border-0 card-block">
         <img class="align-middle img-fluid" src="../images/TrustMark.jpg" />
       </div>
    </div>
  </div>
  <p>© 2020 eco electrical contractors south east ltd. All rights reserved.</p>
  <p class="float-right">
    <a href="#">Back to top</a>
  </p>
</div>
