<nav class="navbar-expand-md fixed-top navbar-light">
  <div class="d-flex flex-column flex-md-row align-items-end p-3 px-md-4 mb-3">
    <div class="collapse navbar-collapse my-2 my-md-0 mr-md-3 justify-content-end">
      <a class="p-2 text-dark" href="/educational-buildings.html">Educational Buildings</a>
      <a class="p-2 text-dark" href="#">Property Developers</a>
      <a class="p-2 text-dark" href="#">Maintenance Managers</a>
      <a class="p-2 text-dark" href="#">About ECO</a>
    </div>
    <button class="button navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<li><a href="#">Educational Buildings</a></li>
			<li><a href="#">Property Developers</a></li>
			<li><a href="#">Maintenance Managers</a></li>
			<li><a href="#">About ECO</a></li>
      <li><a href="#">Savings Calculator</a></li>
		</ul>
	</div>
</div>
