$eco-green: #94d28d;
$eco-blue: #113e45;
$eco-orange: #eb8a3b;
$eco-green-light: #d5e7d3;
$screen-xs: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl: 1200px;

@font-face {
  font-family: 'MyApercu';
  src: url('../fonts/ApercuRegular.otf');
}

@font-face {
  font-family: 'MyApercuLight';
  src: url('../fonts/ApercuLight.otf');
}

@font-face {
  font-family: 'MyApercuMedium';
  src: url('../fonts/ApercuMedium.otf');
}

h1, h2, h3, h4 {
  font-family: 'MyApercu';
  color: $eco-blue;
  strong {
    font-weight: 900;
  }
}

p, label {
  font-family: 'MyApercuLight';
  color: $eco-blue;
}

a {
  font-family: 'MyApercuMedium';
}

h2 {
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 2.5rem !important;
  }
}

.bg-orange {
  background-color: $eco-orange;
  color: #fff;
}

.bg-blue {
  background-color: $eco-blue;
  color: #fff;
}

.bg-green {
  background-color: $eco-green;
  li span {
    color: $eco-blue;
  }
}

.bg-green-light {
  background-color: $eco-green-light;
  h3 {
    color: $eco-orange;
  }
}

a.eco-button {
  font-size: 18px;
  border-radius: 10px;
  text-transform: uppercase;
  &.bg-orange:hover {
    color: #fff;
    background-color: #d27427;
    border-color: #d27427;
  }
  @media only screen and (max-width: $screen-xs) {
    font-size: 17px;
  }
}
