.main {
  background: url('../images/eco_electric_bg.png') center center no-repeat;
  background-size: cover;
  .banner-image {
    bottom: -3rem;
    position: absolute;
    right: 10rem;
    width: 33%;
  }
}
.card {
  background-blend-mode: soft-light;
  .card-body {
    padding: 8rem 2rem 1rem 2rem;
  }
  &.bg-orange {
    background-color: rgba(235, 138, 59, 0.7);
    h3, p {
      color: $eco-blue;
    }
  }
  &.bg-blue {
    background-color: rgba(17, 62, 69, 0.7);
    h3, p {
      color: $eco-orange;
    }
  }
  &.bg-green {
    background-color: rgba(148, 210, 141, 0.7);
    color: #fff;
  }
}
.bg-green {
  .list-group-item {
    background: none;
    border: none;
    color: #fff;
  }
}
.logo {
  width: 200px;
  height: auto;
  transition: 0.4s;
}
#test {
  padding: 20px 0px;
  transition: 0.4s;
}
main {
  padding-top: 150px;
  position: relative;
  section {
    background: none;
  }
  .jumbotron {
    background: none;
  }
}
header {
  height: 73px;
  margin-bottom: -73px;
  //background: none;
  position: relative;
}
form {
  input {
    background-color: rgba(213, 231, 211, 0.6);
  }
}
.testimonial {
  span {
    color: $eco-orange;
  }
}
.philips {
  img.section-image {
    max-width: 100%;
    margin-top: -100px;
  }
  h2 {
    line-height: 1;
  }
}
